
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 
/* styles for navbar & body*/
.bg-color{
    background-color: rgba(26, 11, 46, 1);
}

.bg-btn{
    background:linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
}


#display{
    width: 1600px;
    margin: 0 auto;
}

.nav-title, .banner-titel{
    font-size: 2.5rem;
}

.color-text{
    background:linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smal-text{
    color: rgb(138, 134, 134);
    font-size: 16px;
    font-weight: 400;  
    text-align: center;
}

.flex{
    display: flex;
}
/* styles for navbar */
.header-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 92px;
    border-bottom: 1px solid rgb(64, 63, 63);
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
}


.list{
    display: flex;
    width: 218px;
    height: 19px;
    justify-content: space-between;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    list-style: none;
    cursor: pointer;
}

.btn-primary{
    width: 9.4rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

.btn-arrow{
    padding-left: 8px;
}


/* Banner Related section */
.banner{
    background-image: url("assets/hero-bg.png");
    height: 760px;
    /* border-top: 1px solid rgb(64, 63, 63); */
}

.banner-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 550px;
    height: 558px;
}

.banner-img-container{
    width: 350px;
    height: 350px;
}

.banner-btn-1{
    position: absolute;
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    margin-top: 135px;
    margin-left: 370px;
    border-radius: 16px;
}
.banner-img-1{
    width: 350px;
    height: 350px;
    padding: 100px 100px 40px 100px;
}

.banner-img{
    position: absolute;
    width: 160px;
    height: 200px;;
    margin-top: -320px;
    margin-left: 190px;
    border: none;
    background: none;
    border-radius: 100px;
}

.banner-titel{
    font-size: 60px;
    color: white;
    padding-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}

.banner-description{
    width: 550px;
}


.btn-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-btn-2{
    width: 13rem;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    border-radius: 50px;
}

.banner-btn-img-2 {
    padding-right: 10px;
}

.banner-btn-img-3{
    background: none;
    border: 1px solid#00FF88;
    border-radius: 50px;
}

.about-containter{
    align-content: center;
    width: 1200px;
    height: 646px;
    margin: 0 auto;
}

.about{
    justify-items: center;
    height: 222px;
    border-bottom: 1px solid rgb(107, 105, 105);
    margin: 0 auto;
    padding-bottom: 60px;
}


.about-title, .ad-title{
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
}

.card-containter{
    justify-content: space-between;
    align-items: center;
    height: 94px;
    gap: 80px;
    margin-top: 60px;
    margin-left: 20px;
}

.card{
    text-align: center;
    font-size: 40px;
    width: 240px;
    margin: 0 auto;
}
.color-h{
    color: #00FF88;
}

/* Styles for advertise section */

.advertise-section{
    text-align: center;
    background-color: #230E3D;
    height: 1121px;
    margin: 0 auto;
    padding: 120px 200px 200px 120px;
}

.ad-title{
    margin-bottom: 40px;
}

.ad-card-1{
    grid-area: ad-card-1;
}
.ad-card-2{
    grid-area: ad-card-2;
}
.ad-card-3{
    grid-area: ad-card-3;;
}
.ad-card-4{
    grid-area: ad-card-4;
}
.ad-card-5{
    grid-area: ad-card-5;
}

.ad-card-1 img, .ad-card-2 img, .ad-card-3 img, .ad-card-4 img, .ad-card-5 img{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.ad-card-1, .ad-card-2, .ad-card-3, .ad-card-4, .ad-card-5{
    background-color: #351165;
    border-radius: 16px;
    padding: 40px;
    text-align: left;
    color: white;
}

.ad-card-1{
    padding-top: 107px;
}

.advertise-containter{
    display: grid;
    gap: 30px;
    height: 225px;
    padding-left: 50px;
    grid-template-areas:
    "ad-card-1 ad-card-2 ad-card-2"
    "ad-card-1 ad-card-3 ad-card-3"
    "ad-card-4 ad-card-4 ad-card-5";
}

.ad-card-1 p, .ad-card-2 p, .ad-card-3 p, .ad-card-4 p, .ad-card-5 p{
    text-align: left;
}

/* Responsive design for navbar & body */
@media screen and (max-width: 576px) {
    .navbar{
        max-width: 100%;
        height: 200px;
        display: grid;
        grid-template-columns: 1 1fr;
    }

    .btn-container{
        align-items: center;
        flex-direction: column;
    }
}



