@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles*/
.bg-color {
    background-color: rgba(26, 11, 46, 1);
}

.bg-btn {
    background: linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
}


#display {
    width: 1600px;
    margin: 0 auto;
}

.nav-title,
.banner-titel, .footer-titel {
    font-size: 2.5rem;
}

.color-text {
    background: linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smal-text {
    color: rgb(138, 134, 134);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.flex {
    display: flex;
}

.cursor{
    cursor: pointer;
}

/* styles for navbar */
.header-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 92px;
    /* border-bottom: 1px solid rgb(64, 63, 63); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
}


.list {
    display: flex;
    width: 218px;
    height: 19px;
    justify-content: space-between;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    list-style: none;
    cursor: pointer;
}

.btn-primary {
    width: 9.4rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}


.btn-arrow {
    padding-left: 8px;
}


/* Banner Related section */
.banner {
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 760px;
    border-top: 1px solid rgb(64, 63, 63);
}

.banner-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 550px;
    height: 558px;
}

.banner-img-container {
    width: 350px;
    height: 350px;
}

.banner-btn-primary{
    width: 9.4rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

.banner-btn-1 {
    position: absolute;
    width: 75px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    margin-top: 135px;
    margin-left: 370px;
    border-radius: 16px;
}

.banner-img-1 {
    width: 350px;
    height: 350px;
    padding: 100px 100px 40px 100px;
}

.banner-img {
    position: absolute;
    width: 160px;
    height: 200px;
    ;
    margin-top: -320px;
    margin-left: 190px;
    border: none;
    background: none;
    border-radius: 100px;
}

.banner-titel {
    font-size: 60px;
    color: white;
    padding-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}

.banner-description {
    width: 550px;
}


.btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-btn-2 {
    width: 13rem;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    border-radius: 50px;
}

.banner-btn-img-2 {
    padding-right: 10px;
}

.banner-btn-img-3 {
    background: none;
    border: 1px solid#00FF88;
    border-radius: 50px;
}

.about-containter {
    align-content: center;
    width: 1200px;
    height: 646px;
    margin: 0 auto;
}

.about {
    justify-items: center;
    height: 222px;
    border-bottom: 1px solid rgb(107, 105, 105);
    margin: 0 auto;
    padding-bottom: 60px;
}


.about-title,
.ad-title,
.featured-titel,
.host-title {
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
}

.card-containter {
    justify-content: space-between;
    align-items: center;
    /* height: 94px; */
    gap: 80px;
    /* margin-left: 20px; */
}

.card {
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    width: 240px;
    margin: 0 auto;
}

.color-h {
    color: #00FF88;
}

/* Styles for advertise section */

.advertise-section {
    text-align: center;
    background-color: #230E3D;
    height: 1121px;
    margin: 0 auto;
    padding: 120px 200px;
}

.ad-title {
    margin-bottom: 40px;
}

.ad-card-1 {
    grid-area: ad-card-1;
}

.ad-card-2 {
    grid-area: ad-card-2;
}

.ad-card-3 {
    grid-area: ad-card-3;
    ;
}

.ad-card-4 {
    grid-area: ad-card-4;
}

.ad-card-5 {
    grid-area: ad-card-5;
}

.ad-card-1 img,
.ad-card-2 img,
.ad-card-3 img,
.ad-card-4 img,
.ad-card-5 img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.ad-card-1,
.ad-card-2,
.ad-card-3,
.ad-card-4,
.ad-card-5 {
    background-color: #311852;
    border-radius: 16px;
    padding: 40px;
    text-align: left;
    color: white;
}

.ad-card-1 {
    padding-top: 107px;
}

.advertise-containter {
    display: grid;
    gap: 30px;
    height: 225px;
    grid-template-areas:
        "ad-card-1 ad-card-2 ad-card-2"
        "ad-card-1 ad-card-3 ad-card-3"
        "ad-card-4 ad-card-4 ad-card-5";
}

.ad-card-1 p,
.ad-card-2 p,
.ad-card-3 p,
.ad-card-4 p,
.ad-card-5 p {
    text-align: left;
}

/* Featured Related styles */
.featured-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #230E3D;
    /* margin: 0 auto; */
    height: 1276px;
    padding: 0px 200px;

}

.featured-episode {
    gap: 20px;
    /* margin-left: 60px; */
}

.featured-tite {
    font-size: 58px;
}

.featured-card {
    border-radius: 20px;
    width: 380px;
    height: 440px;
    margin: 20px 0px;
}

.featured-card>h2,
.host-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 0 24px;
    text-align: left;
}


iframe {
    width: 380px;
    height: 240px;
    border-radius: 16px;
}

.ad-E {
    text-align: left;
    padding: 0 24px 24px 24px;
}

.featured-card-img {
    margin-right: 10px;
}

.featured-card-text {
    font-size: 18px;
    color: #00FF88;
    padding-left: 20px;
    text-align: left;
}

.featured-host-container {
    height: 378px;
    padding-top: 120px;
}

.host-info {
    margin-top: 40px;
    padding: 40px;
    gap: 24px;
    background-color: #311852;
    border-radius: 16px;
}

.Social{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1PX solid #533C72;
    border-radius: 100px;
    text-align: left;
    margin: 0 12px;
}

.host-img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-top: 8px;

}

footer{
    height: 412px;
    background-image: url("assets/footer-bg.png");
    background-size: cover;
    background-position: center;
}
.footer-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1360px;
    height: 172px;
    padding: 120px;
    /* border-top: 1px solid rgb(64, 63, 63); */
}

.footer-title{
    font-size: 60px;
    text-align: center;
    color:white;
    margin: 0 auto;
}


.footer-list{
    justify-content: center;
    gap: 25px;
    padding-right: 20px;
    margin-top: 25px;
    list-style: none;
    margin-bottom: 32px;
}



.hamburger-menu {
    display: none;
}


/* Responsive design for navbar & body */
@media screen and (max-width: 576px) {
    #display {
    width: 100%;
    margin: 0 auto;
}
    .navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .header-container {
        width: 100%;
        padding: 0 20px;
        background-size: contain;
    }

    .list, .btn-primary {
        display: none;
    }

    .hamburger-menu {
        padding-top: 40px;
        display: block;
    }

    .btn-container {
        align-items: center;
        flex-direction: column;
    }

    .banner-titel{
        font-size: 3rem;
    }

    .about-title, .ad-title, .featured-titel, .host-title, .footer-titel {
        font-size: 2.5rem;
    }

    .banner-description {
        width: 84%;
        padding: 0 8%;
    }

    .about-containter, .advertise-section, .featured-container {
        width: 90%;
        padding: 5% 5%;
    }
    .card-containter {
        display: grid;
        padding: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-top: 24px;
    }

    /* .card{
        max-width: 250px;
    } */

    .about{
        width: 90%;
        padding: 0 10px;
        margin-right: 12px;
        padding-bottom: 60px;
    }

    .advertise-section{
        height: 1500px;
    }


    .advertise-containter{
        display: grid;
        grid-template-areas:
            "ad-card-1"
            "ad-card-2"
            "ad-card-3"
            "ad-card-4"
            "ad-card-5";
    }
    .ad-card-1, .ad-card-2, .ad-card-3, .ad-card-4, .ad-card-5{
        gap: 5px;
        padding: 16px;
    }

    .featured-container{
        width: 90%;
        padding: 0 5%;
        margin-bottom: 20px;
        height: 2400px;
    }

    .featured-episode{
        justify-items: center;
        align-items: center;
        height: 1000px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        padding: 8px;
    }
    .ad-E{
        padding: 0 8px;
    }
    .featured-host-container{
        height: 1400px;
        padding-top: 460px;
    }

    .host-title{
        padding-bottom: 40px;
    }
    .host-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: right;
        width: 90%;
        height: 600px;
        gap: 20px;
        padding: 16px;
        margin: 0 auto;
    }

    footer{
        height: 248px;
    }

    .footer-container{
        height: 168px;
        width: 400px;
        padding: 20px 20px;
        background-size: contain;

    }

    .footer-titel{
        width: 219px;
        font-size: 24px;
        height: 24px;
    }

    .gap-list{
        margin-left: -50px;
    }

    .footer-list{
        display: grid;
        grid-template-columns: repeat(4, 1.6fr);
        width: 255px;
        height: 64px;
        /* padding: 0 72.5px 0px 72.5px; */
        
    }

    .apple{
        width: 150px;
        margin-right: -90px;
    }
}