
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* styles for navbar */
.bg-color{
    background-color: rgba(26, 11, 46, 1);
}

.bg-btn{
    background:linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
}


header{
    justify-items: center;
    width: 1600px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 1600px;
    height: 5.8rem;
    color: white;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}

.nav-title{
    font-size: 2.5rem;
}

.list{
    display: flex;
    width: 218px;
    height: 19px;
    justify-content: space-between;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    list-style: none;
    cursor: pointer;
}

.btn-primary{
    width: 9.4rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

.btn-arrow{
    padding-left: 8px;
}
.color-text{
    background:linear-gradient(to right, #F7E93F 0%, #F809B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 576px) {
    .navbar{
        max-width: 100%;
        height: 200px;
        display: grid;
        grid-template-columns: 1 1fr;
    }
}



